.Search__box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 15px;
}

.search__label {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  display: block;
  margin-right: 7px;
}

.search__input {
  display: block;
  width: 200px;
  height: 30px;
  max-width: 100%;
  border-radius: 5px;
  /* text-align: center;  */
}